<body>
  <h2> Makers Bnb </h2>

  <form action="/spaces/calendar" method="post">
    <center>
    Search by date: <input type="text" name="day"> <br>
    <input type="submit" value="filter">
  </form>

  <form action="/spaces/owners" method="post">
    <center>
    Search by owner: <input type="text" name="filter_owner"> <br>
    <input type="submit" value="filter by owner">
  </form>

    <h3> List of spaces: </h3>
    <ul id ='spaces'>
      <% @spaces.each do |space| %>
      <li>
        Name: <%= space.name %> <br>
        Address: <%= space.address %> <br>
        Postcode: <%= space.postcode %> <br>
        Price (£ pw): <%= space.price %> <br>
        Date available: <%= space.calendars.first.day %> <br>
        Posted by: <%= space.owner %>
      </li>
      <% end %>
    </ul> <br>
    <a id='create_space' href="/spaces/new">Click to create a new space</a>
</body>
<br>
